table {
    border: solid 2px black;
    width: 500px;
    height: 400px;
    /* border-spacing: 10px; */
    border-collapse: collapse;
}

table tr td {
    border: solid 3px red;
}

table thead th{
    border: solid 2px green;
}

table tbody td{
    border: solid 2px red;
}

table tfoot td{
    border: solid 2px blue;
    text-align: center;
}

div{
    width: 500px;
    height: 100px;
    border: solid 5px black;
}

.d-3{
    background-color: aqua;
    margin-left: 100px;
    margin-top: 50px;
}

.d-4{
    margin: 50px 70px 80px 90px;
}

.d-2{
    margin: auto;
}

.div-2{
  border:solid 20px green;
  padding: 100px 70px;
  box-sizing: border-box;  
}