video{
    width: 900px;
    height: auto;
    border:solid 10px green;
    display: block;
    /* display: none; */
    /* visibility: hidden; */
}

audio{
    width: 900px;
    height: 100px;
    border:solid 10px green;
}

.container{
    width: 700px;
    height: 700px;
    margin: auto;
    border: solid 1px black;
    padding: 20px;
}

.transition-1{
    height: 100px;
    width: 100px;
    transition: height 4s, width 4s;
}

.transition-1:hover{
    height: 200px;
    width: 400px;
}


.transition-2{
    height: 100px;
    width: 100px;
    /* transform: translate(0, 0), rotate(0deg); */
    transform: rotate(0deg);
    transition: height 4s, width 4s, transform 4s;
}

.transition-2:hover{
    /* transform: translate(200px, 300px); */
    transform: rotate(-360deg);
}


@keyframes anima-1{
    from{
        transform: rotate(0deg);
        /* transform: translate(0, 0); */
        left: 0;
    }

    to{
        transform: rotate(360deg);
        /* transform: translate(300px, 0); */
        left: 500px;
    }
}



.ball{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    font-weight: bold;
    font-size: 2em;
    animation-name: anima-1;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

