.container, .container-2{
    width: 70%;
    border: solid 3px black;
    min-height: 400px;
    margin: auto;
}

.container-2 div{
    min-height: 150px;
    width: 700px;
    border: solid 2px red;
}

.container-2 .bg-ex-1{
   height: 400px;
   background-image: url(bg-example-2.jpeg); 
   background-repeat: no-repeat;
   background-position: left;
   background-size: 30% 50%;
   /* background-size: cover; */
   background-color: #d7d7d7;
   background-attachment: fixed;
}

.container div{
    border: solid 1px gray;
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    display: inline-block;
}

.container div img{
    width: 200px;
    height: 100px;
}

.link {
    font-size: 2em;
}

.link li a{
    text-decoration: none;
    color: brown;
    font-size: 1.4em;
}

.link li a:hover{
    background-color: aquamarine;
    color:black;
}

.link li:first-child a{
    color: green;
    text-decoration:overline;
}

.link li:nth-child(3) a{
    color: red;
    text-decoration:line-through;
}