/* .container{
    width: 800px;
    background-color: aqua;
    min-height: 300px;
    margin: auto;
}

@media screen and (min-width:900px) {
    .container{
        background-color: yellow;
    } 
}

@media screen and (max-width:500px){
    .container{
        background-color: blueviolet;
    } 
} */

header, footer{
    height: 120px;
    background-color: blueviolet;
    padding: 20px;
    box-sizing: border-box;
    font-size: 2em;
    color:white;
    font-weight: bold;
}

footer {
    background-color: rgb(11, 120, 84);
    height: 50px;
    font-size: 0.8em;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    background-color: rgb(26, 181, 168);
    color: white;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 7px;
}

nav ul li:hover{
    background-color: rgb(56, 236, 236);
}

aside{
    background-color: rgb(26, 181, 168);
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    box-sizing: border-box;
}

main{
    padding: 15px;
    min-height: 70vh;
}

@media screen and (min-width:600px) {
    main{
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
    }

    nav{
        width: 20%;
    }

    .content{
        width: 79%;
    }
}

@media screen and (min-width:768px) {
    main{
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
    }

    nav{
        width: 20%;
    }

    .content{
        width: 58%;
        background-color: beige;
    }

    aside{
        width: 20%;
        margin-top: 0px;
    }
}