.container{
    border: solid 1px gray;
    min-height: 80vh;
    width: 900px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: end;
}

.container div{
    width: 160px;
    background-color: blueviolet;
    height: 100px;
    border: solid 1px black;
    color: white;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    /* display: inline-block; */
    /* float: left; */
}

.container-2{
    border: solid 1px gray;
    min-height: 300px;
    width: 900px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
}

.container-2 div{
    width: 200px;
    background-color: antiquewhite;
    border: solid 1px black;
    box-sizing: border-box;
}