main {
    width: 40%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: solid 4px gray;
    margin: 10px auto;
    background-color: antiquewhite;
}

.form-test label{
    display: block;
    margin-bottom: 3px;
}

.form-test div{
    margin-bottom: 10px;
}

.form-test div input[type=text] {
    padding: 3px;
    font-size: 1.2em;
}

.form-test div input[type=text]:focus{
    background-color: aquamarine;
}