.container{
    border: solid 1px gray;
    padding: 20px;
    background-color: yellowgreen;
    /* float: left; */
    overflow: auto;
}

.container .items{
  border: solid 3px green;
  height: 100px; 
  margin: 10px;
  width: 200px; 
  font-size: 3em;
  background-color: antiquewhite;
  /* display: inline-block; */
  /* display: inline; */
  float: left;
  /* display: none; */
  /* visibility: hidden; */
}

.container-2{
    margin-top: 20px;
    border: solid 3px gray;
    background-color: blueviolet;
    width: 300px;
    height: 120px;
    overflow: auto;
}

.pos{
    height: 120px;
    width: 350px;
    background-color: aqua;
    border: solid 3px gray;
    box-sizing: border-box;
    font-size: 3em;
}

.item-2{
    position: absolute;
    background-color: antiquewhite;
    width: 300px;
    top:20px;
    right: 200px;
}

.item-3{
    position: fixed;
    background-color: brown;
    width: 250px;
    bottom: 50px;
    left: 200px;
}

.item-4{
    position: relative;
    left: 200px;
    bottom:50px;
    background-color: chartreuse;
    z-index: 1;
}

.item-1{
    position: relative;
    z-index: 1;
}

.item-6{
    width: 100%;
    position:sticky;
    top:0px;
}

.scroll{
    height: 700px;
}

.container-3{
    position: relative;
    border: solid 3px gray;
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
}

.container-3 .box{
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}